<div class="container center">
<p id="notice"><%= notice %></p>
<h2>Store Flavor Details</h2>

<p>
  <strong>Store:</strong>
  <%= @store_flavor.store.name %>
</p>

<p>
  <strong>Flavor:</strong>
  <%= @store_flavor.flavor.name %>
</p>

<%= link_to 'Edit', edit_store_flavor_path(@store_flavor), :class=> "waves-effect waves-light btn light-blue" %> |
<%= link_to 'Back', store_flavors_path, :class=> "waves-effect waves-light btn red" %>
</div>