      <div class="container center">
      <h1 class="center"><%= @employee.first_name + " " + @employee.last_name %></h1>
      
      <table class="highlight">
        <tr>
          <th class="center">SSN:</th>
          <td class="center"><%= @employee.ssn %></td>
        </tr>
        <tr>
          <th class="center">Phone: </th>
          <td class="center"><%= @employee.phone %></td>
        </tr>
        <tr>
          <th class="center">Date of Birth: </th>
          <td class="center"><%= @employee.date_of_birth %></td>
        </tr>
        <tr>
          <th class="center">Role: </th>
          <td class="center"><%= @employee.role %></td>
        </tr>
        <tr>
          <th class="center">Active: </th>
          <td class="center"><%= if @employee.active then "Active" else "Not Active" end %></td>
        </tr>
      </table>
<br/>
<%= link_to 'Edit', edit_employee_path(@employee), :class=>"btn waves-effect waves-light btn blue" %> |
<% if session[:role] == 'employee'  %>
  <%= link_to 'Back', employee_page_index_path, :class => 'waves-effect waves-light btn red' %>
<% else  %>
   <%= link_to 'Back', employees_path, :class => 'waves-effect waves-light btn red' %>
<% end %>
</div>
<br/><br/>