      <table class="highlight">
        <tr>
          <th>Name:</th>
          <td><%= @employee.first_name + " " + @employee.last_name %></td>
        </tr>
        <tr>
          <th>SSN:</th>
          <td><%= @employee.ssn %></td>
        </tr>
        <tr>
          <th>Phone: </th>
          <td><%= @employee.phone %></td>
        </tr>
        <tr>
          <th>Date of Birth: </th>
          <td><%= @employee.date_of_birth %></td>
        </tr>
        <tr>
          <th>Role: </th>
          <td><%= @employee.role %></td>
        </tr>
        <tr>
          <th>Active: </th>
          <td><%= if @employee.active then "Active" else "Not Active" end %></td>
        </tr>
      </table>

<%= link_to 'Edit', edit_employee_path(@employee), :class=>"btn waves-effect waves-light btn blue" %> |
<% if session[:role] == 'employee'  %>
  <%= link_to 'Back', employee_page_index_path, :class => 'waves-effect waves-light btn red' %>
<% else  %>
   <%= link_to 'Back', employees_path, :class => 'waves-effect waves-light btn red' %>
<% end %>