      <table class="highlight">
        <tr>
          <th>Start date:</th>
          <td><%= @assignment %></td>
        </tr>
        <tr>
          <th>Start date:</th>
          <td><%= @assignment.start_date %></td>
        </tr>
        <tr>
          <th>End date:</th>
          <td><%= if @assignment.end_date.nil? then "This assignment is ongoing" else @assignment.end_date end %></td>
        </tr>
        <tr>
          <th>Pay Level: </th>
          <td><%= @assignment.pay_level %></td>
        </tr>
        <tr>
          <th>Store: </th>
          <td><%= @assignment.store.name %></td>
        </tr>
        <tr>
          <th>Employee: </th>
          <td><%= @assignment.employee.first_name + " " + @assignment.employee.last_name %></td>
        </tr>
      </table>

<%= link_to 'Edit', edit_assignment_path(@assignment), :class=>"btn waves-effect waves-light btn blue" %> |
<%= link_to 'Back', assignments_path, :class => 'waves-effect waves-light btn red' %>
