<p id="notice"><%= notice %></p>

<h1>Flavors</h1>

<div class="container">

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @flavors.each do |flavor| %>
      <tr>
        <td><%= flavor.name %></td>
        <td><%= flavor.active %></td>
        <% if session[:role]  %>
          <% if session[:role] == 'admin' %>
            <td><%= link_to 'Show', flavor %></td>
            <td><%= link_to 'Edit', edit_flavor_path(flavor) %></td>
            <td><%= link_to 'Destroy', flavor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
<br>
<% if session[:role]  %>
  <% if session[:role] == 'admin' %>
    <%= link_to 'New Flavor', new_flavor_path %>
  <% end %>
<% end %>
