      <table class="highlight">
        <tr>
          <th>Name:</th>
          <td><%= @store.name %></td>
        </tr>
        <tr>
          <th>Street:</th>
          <td><%= @store.street %></td>
        </tr>
        <tr>
          <th>City: </th>
          <td><%= @store.city %></td>
        </tr>
        <tr>
          <th>State: </th>
          <td><%= @store.state %></td>
        </tr>
        <tr>
          <th>Zip: </th>
          <td><%= @store.zip %></td>
        </tr>
        <tr>
          <th>Phone: </th>
          <td><%= @store.phone %></td>
        </tr>
        <tr>
          <th>Latitude: </th>
          <td><%= @store.latitude %></td>
        </tr>
        <tr>
          <th>Longitude: </th>
          <td><%= @store.longitude %></td>
        </tr>
        <tr>
          <th>Active: </th>
          <td><%= if @store.active then "Active" else "Not Active" end %></td>
        </tr>
      </table>

<%= link_to 'Edit', edit_store_path(@store), :class=>"btn waves-effect waves-light btn blue" %> |
<%= link_to 'Back', stores_path, :class => 'waves-effect waves-light btn red' %>

