<div class="card light-blue">
  <div class="card-content white-text">
    <span class="card-title">Quick Links</span>
    <ul class="collection">
      <li><%= link_to 'employees', employees_path, :class => "collection-item" %></li>
      <li><%= link_to 'stores', stores_path, :class => "collection-item" %></li>
      <li><%= link_to 'assignments', assignments_path, :class => "collection-item" %></li>
      <li><%= link_to 'Add employee', new_employee_path, :class => "collection-item" %></li>
      <li><%= link_to 'Add store', new_store_path, :class => "collection-item" %></li>
      <li><%= link_to 'Add assignment', new_assignment_path, :class => "collection-item" %></li>
    </ul>
  </div>
</div>
