<div class="container center">
<p id="notice"><%= notice %></p>

<h1>Shift Jobs</h1>

<!--Find all the employees that work at the same store as the manager-->
<% user = User.find(session[:user_id]) %>    
<% manager = Employee.find(user.employee.id) %>
<% manager_assignments = Assignment.for_employee(manager) %>
<% manager_stores = Array.new  %>
<% manager_assignments.each do |assignment| %>
    <% manager_stores << Store.find(assignment.store_id) %>
<% end %>
<% assignments_store = Array.new %>
<% manager_stores.each do |store| %>
    <% assignments_store << Assignment.for_store(store) %>
<% end %>
<% employees_all = Array.new %>
<% assignments_store.each do |assignment_relation| %>
    <% assignment_relation.each do |assignment| %>
        <% puts "Assignment_id:"%>
        <% puts "#{assignment.id}"  %>
        <% employees_all << Employee.find(assignment.employee_id) %>
    <% end %>
<% end %>    
<% employees_regulars = Array.new %>
<% employees_all.each do |employee| %>
    <% if employee.role == 'employee' %>
        <% employees_regulars << employee %>
    <% end %>
<% end %>

<!--Now get all the shifts for these employees  -->
<% all_shifts_relations = Array.new %>
<% employees_regulars.each do |employee| %>
  <% manager_stores.each do |store| %>
      <% all_shifts_relations << Shift.for_store(store).for_employee(employee) %>
  <% end %>
<% end %>

<!--Now get all the shift_jobs for these shifts  -->
<% all_shift_jobs = Array.new %>
<% all_shifts_relations.each do |relation| %>
  <% relation.each do |shift| %>
    <% all_shift_jobs << shift.shift_jobs %>
  <% end %>
<% end %>


<% employee = user.employee %>
<% shift_employee = Shift.for_employee(employee) %>
<% shift_jobs_employee = Array.new %> 
<% shift_employee.each do |shift| %>
  <% shift_jobs_employee << shift.shift_jobs %>
<% end %>
<% array = Array.new %>
  <% shift_jobs_employee.each do |collection_proxy| %> 
    <% collection_proxy.each do |shift_job| %>
      <% array << shift_job %>
  <% end %>
<% end %>



<table>
  <thead>
    <tr>
      <th>Shift</th>
      <th>Job</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if session[:role] == 'manager' %>
      <% all_shift_jobs_array = Array.new %>
      <% all_shift_jobs.each do |relation| %>
        <% relation.each do |shift_job| %>
          <% all_shift_jobs_array << shift_job %>
        <% end %>
      <% end %>
    <% elsif session[:role] == 'employee' %>
      <% all_shift_jobs_array = array %>
    <% else %>
      <% all_shift_jobs_array = ShiftJob.all %>
    <% end %>
    <% all_shift_jobs_array.each do |shift_job| %>
      <tr>
        <td><%= shift_job.shift.assignment.assignment_name %></td>
        <td><%= shift_job.job.name %></td>
        <% if session[:role] != 'employee' %> 
          <td><%= link_to 'Show', shift_job, :class=> "waves-effect waves-light btn green" %></td>
          <td><%= link_to 'Edit', edit_shift_job_path(shift_job), :class=> "waves-effect waves-light btn light-blue" %></td>
          <td><%= link_to 'Destroy', shift_job, method: :delete, data: { confirm: 'Are you sure?' }, :class=> "waves-effect waves-light btn red" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if session[:role] != 'employee' %> 
<%= link_to 'New Shift Job', new_shift_job_path, :class=> "waves-effect waves-light btn teal center" %>
<br/><br/>
<% end %>
</div>