<!DOCTYPE html>
<html>
  <head>
    <title>A&M Creamery</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    
    <!-- Navbar goes here -->
  <nav>
    <% if session[:role] == 'admin' %>
      <%= render partial: 'partials/admin_nav' %>
    <% elsif session[:role] == 'manager'  %>
      <%= render partial: 'partials/manager_nav' %>
    <% elsif session[:role] == 'employee' %>
      <%= render partial: 'partials/employee_nav' %>
    <% else  %>
      <%= render partial: 'partials/guest_nav' %>
    <% end  %>
  </nav>

    <!--<div class="row" style="height:100%">-->
    <!--  <div class="col s12 center" style="height:100%">-->
        <!-- Teal page content  -->
          <!-- MAIN CONTENT GOES HERE -->
          <!-- flash messages -->
          <%= javascript_include_tag "application" %>
           <% flash.each do |message_type, message| %>
           <% error = "error: " %>
           <h2 class="center"><%=error%><%= message %></h2>
           <% end %>
                <%= yield %>

    <!--    </div>-->
    <!--</div>-->
    

    
  <footer class="page-footer col s12 center">
        <%= render partial: 'partials/footer' %>

  </footer>
</body>



           
</html>
