<!DOCTYPE html>
<html>
  <head>
    <title>A&M Creamery</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    
    <!-- Navbar goes here -->
  <nav>
  <nav>
    <% if session[:role] == 'admin' %>
      <%= render partial: 'partials/admin_nav' %>
    <% elsif session[:role] == 'manager'  %>
      <%= render partial: 'partials/manager_nav' %>
    <% else %>
      <%= render partial: 'partials/employee_nav' %>
    <% end  %>
  </nav>
  </nav>

    <div class="row" style="height:100%">
      <div class="col s12 center" style="height:100%">
        <!-- Teal page content  -->
          <!-- MAIN CONTENT GOES HERE -->
          <h1>Welcome to the Employee Page!</h1>

    <div class="row">

      <div class="col s4">
        <!-- Promo Content 1 goes here -->
        <div class="card blue-grey darken-1 small">
            <div class="card-content white-text">
              <span class="card-title">Assignment</span>
              <p></p>
            </div>
            <div class="card-action">
              <a href=<%= assignments_path %>>View Assignments</a>
            </div>
          </div>
      </div>
      <div class="col s4">
        <!-- Promo Content 2 goes here -->
        <div class="card blue-grey darken-1 small">
            <div class="card-content white-text">
              <span class="card-title">Shift/Shift Jobs</span>
              <p></p>
            </div>
            <div class="card-action">
              <a href=<%= shifts_path %>>View Shifts</a>
              <a href=<%= shift_jobs_path %>>View Shift Jobs</a>
            </div>
          </div>
      </div>
      <div class="col s4">
        <!-- Promo Content 3 goes here -->
        <div class="card blue-grey darken-1 small">
            <div class="card-content white-text">
              <span class="card-title">Profile</span>
              <p>Click below to change view your profile.</p>
            </div>
            <div class="card-action">
              <a href="https://test-project-fjoad.c9users.io/employee_view_profile/index">Profile</a>
              <% user = User.find(session[:user_id]) %>
              <a href=<%= user_path(user) %>>Login Details</a>
            </div>
          </div>
      </div>

    </div>


        </div>
    </div>
    

    
  <footer class="page-footer col s12 center" style="position:fixed;bottom:0;width:100%; padding:0">
        <%= render partial: 'partials/footer' %>

  </footer>
</body>


              <%= javascript_include_tag "application" %>
           <% flash.each do |message_type, message| %>
           <%= message %>
           <% end %>
           
</html>
