<!DOCTYPE html>
<html>
  <head>
    <title>A&M Creamery</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    
    <!-- Navbar goes here -->
  <nav>
    <div class="nav-wrapper">
      &nbsp&nbsp
      <a href="#" class="sidenav-trigger" data-target="mobile-nav"></a>
      <img id='logo' src="assets/AMCreamary_logo_eddited.png">
      <a href="#" class="brand-logo">A&M Creamery</a>
      <ul class="right">
        <!-- Dropdown Trigger -->
        <li><a class="dropdown-button white-text" href=<%= login_path %>>Login<i class="material-icons left">exit_to_app</i></a></li>
      </ul>

     <!-- Dropdown Structure -->
  <ul id="dropdown1" class="dropdown-content">
    <li>
      <%= link_to "List Employees", employees_path %>
    </li>
    <li>
      <%= link_to "Add an Employee", new_employee_path %>
    </li>
  </ul>
  <ul id="dropdown2" class="dropdown-content">
    <li>
      <%= link_to "List Stores", stores_path %>
    </li>
    <li>
      <%= link_to "Add a Store", new_store_path %>
    </li>
  </ul>
  <ul id="dropdown3" class="dropdown-content">
    <li>
      <%= link_to "List Assignments", assignments_path %>
    </li>
    <li>
      <%= link_to "Add an Assignment", new_assignment_path %>
    </li>
  </ul>
</div>
  </nav>

    <div class="row" style="height:100%">
      <div class="col s12 center" style="height:100%">
        <!-- Teal page content  -->
          <!-- MAIN CONTENT GOES HERE -->
          
<h1>Flavors</h1>

<div class="container">

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @flavors = Flavor.all %>  
    <% @flavors.each do |flavor| %>
      <tr>
        <td><%= flavor.name %></td>
        <td><%= flavor.active %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
<br>

        </div>
    </div>
    

    
  <footer class="page-footer col s12 center" style="position:fixed;bottom:0;width:100%; padding:0">
        <%= render partial: 'partials/footer' %>

  </footer>
</body>


              <%= javascript_include_tag "application" %>
           <% flash.each do |message_type, message| %>
           <%= message %>
           <% end %>
           
</html>
